:root {
    --background: rgb(224, 234, 247);
    --header-background: white;
    --footer-background: rgb(238, 208, 238);
    --border-radius: 20px;
}

body {
    height: 100vh;
    font-family: 'courier new', san-serif;
    background: var(--background);
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-size: 2em;
}

header {
    position: sticky;
    top: 0;
    padding: 7px 20px;
    font-size: 0.8em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--footer-background);
}

main {
    padding: 20px;
}

footer {
    position: sticky;
    bottom: 0;
    padding: 7px 20px;
    font-size: .8em;
    display: flex;
    justify-content: flex-end;
    background-color: var(--footer-background);
}

#name-tag {
    height: 280px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    background-color: aliceblue;
    border-radius: var(--border-radius);
}

#greeting {
    height: 75px;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    background-color: rgb(138, 138, 170);
}

#footer {
    height: 35px;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    background-color: rgb(138, 138, 170);
}