* {
    box-sizing: border-box;
    background-color: rgb(160, 203, 202);
}

html {
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    width: 90%;
    margin: 5%;
    padding: 0;
}

header {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 25%;
    width: 100%;
    border: 1.5px solid navy;
    border-radius: 15px;
    margin: 12px;
    background-color: lavender;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    color:darkgoldenrod;
    background-color: lavender;
}

main {
    height: 60%;
    background-color: lavender;
    border:1.5px solid navy;
    padding: 40px;
    margin: 10px;
    border-radius: 15px;
}

#name-input {
    display: block;
    height: 35px;
    width: 400px;
    background-color:darkcyan;
    border: 1px solid firebrick;
    border-radius: 15px;
    color:tomato;
    cursor: pointer;
    margin: auto;
}

#name-input:hover {
    background-color: aquamarine;
    color: rgba(123, 54, 54, 0.757)
}

#update-button {
    display: block;
    color: rgb(239, 190, 125);
    background-color: lime; 
    height:100px;
    width: 315px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 30px;
    border-radius: 15px;
}

#update-button:hover {
    color: lime;
    background-color:rgba(123, 54, 54, 0.757)
}

#name-tag {
    border: 2.5px solid cornsilk;
    margin: auto;
    width: 22%;
    height: 44%;
}

#greeting, #footer {
    background-color: rgb(238, 166, 190);
}

#name {
    background-color: beige;
}
